<!-- Footer -->
<footer id="footer-links" class="page-footer font-small cyan darken-3">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-1">
        <div class="flex-center">
          <!--Linkedin Donnyves-->
          <label for="" id="label-spacing">Donnyves Laroque :</label>
          <a class="li-ic" href="https://www.linkedin.com/in/donnyves-laroque/">
            <i class="fab fa-linkedin-in" id="icon-spacing"> </i>
          </a>
          <a class="li-ic" href="https://github.com/laroqued/">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <!--Linkedin Dominique-->
          <label for="" id="label-spacing">Dominique Lazaros : </label>

          <a class="li-ic" href="https://www.linkedin.com/in/dlazaros/">
            <i class="fab fa-linkedin-in" id="icon-spacing"> </i>
          </a>

          <a class="li-ic" href="https://github.com/lazarosdt">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <!--Linkedin Aaron-->
          <label for="" id="label-spacing">Aaron Harris: </label>

          <a class="li-ic" href="">
            <i class="fab fa-linkedin-in" id="icon-spacing"> </i>
          </a>

          <a class="li-ic" href="">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-1">
    © 2022 Copyright:
    <a href="/"> &copy; Copyright 2022 Software Programming Quiz</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
