<!--Source https://www.youtube.com/watch?v=lYVKbAn5Od0&ab_channel=Raddy -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="nav-makestick">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Software Programming Quiz</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="/quizzes">Manage Quizzes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/take_quiz">Take Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/candidate_survey">Candidate Survey</a>
        </li>


      </ul>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-elegant">
          <i class="far fa-user pr-2" aria-hidden="true"></i>Logout
        </button>
      </form>
    </div>
  </div>
</nav>
