
     <div class="email-form">
         <h1>Send Quiz Link</h1>
         <div class="form-div"></div>

         <form action="http://localhost:3001/contact" method="post" class="contact-form">
             <input type="text" class="contact-form-text" placeholder="Your name" name="yourname" required />
             <input type="email" class="contact-form-text" placeholder="Your email" name="youremail" required />
             <input type="text" class="contact-form-text" name="yoursubject" placeholder="Subject" required />
             <textarea class="contact-form-message" placeholder="Your message" name="yourmessage"></textarea>
             <input type="submit" id="form-submit" class="contact-form-btn" value="Send" required />
         </form>
     </div>
