
<div id="welcome-button">

<a class="btn btn-outline-dark" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
  aria-controls="offcanvasExample" id="question-form">
        <div>
          <p>Hello, <%= login_name %>!</p>
        </div>
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"  aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Software Programming Quiz</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      View that stats and results from the Candidate's Quizzes.
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" id="question-form" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Menu
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/">Home</a>
        <a class="dropdown-item" href="/contact">Contact</a>
        <a class="dropdown-item" href="/quizzes">Quizzes</a>
        <a class="dropdown-item" href="/create_quiz">Create Quiz</a>
        <a class="dropdown-item" href="/quizzes">Manage Quiz</a>
      </ul>
    </div>
  </div>
</div>
</div>