

<div class="dropdown" id="div-greeting">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
            <div >
                <p> Hello, <%= name %> </p>           
            </div>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/">Home</a>
        <a class="dropdown-item" href="/contact">Contact</a>
        <a class="dropdown-item" href="/quizzes">Quizzes</a>
    </div>
        
</div>

