<!-- Display flex can be used for responsive cases as well with the help of .flex-{sm|md|lg|xl|xxl}-row class -->
<div id="welcome-button">
   <div class="flex flex-center">



<div class="dropdown">
  <button     class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      <div>
        <p>Hello, <%= login_name %>!</p>
      </div>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/">Home</a>
      <a class="dropdown-item" href="/contact">Contact</a>
      <a class="dropdown-item" href="/quizzes">Quizzes</a>
      <a class="dropdown-item" href="/create_quiz">Create Quiz</a>
      <a class="dropdown-item" href="/quizzes">Manage Quiz</a>
  </ul>
</div>






</div> 
</div>





