<body>
    <main>
        <div id="div-greeting">
            Hello, <%= name %>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">LOGOUT</button>
            </form>
        </div>

    </main>

</body>