<head>
    <%- include('layouts/head') %>
</head>


<body>
<div class="main">
        <h1>Candidate Survey Complete</h1>
        <br>
        Thank you for taking our survey
    </div>
</body>

