<%- include('includes/_header') %>
<head>
    <%- include('layouts/head') %>
</head>
    <div class="main2">
        <h1>This is the Candidate quiz Page</h1>
    </div>


<%- include('includes/_footer') %>
