<%- include('includes/_header') %>

<head>
    <%- include('layouts/head') %>
</head>


<body>
      <%- include('layouts/welcome') %>
    <div class="main">
        
    </div>
</body>

<%- include('includes/_footer') %>