<%- include('includes/_header') %>

<head>
    <%- include('layouts/head') %>
</head>


<body>
    <%- include('layouts/welcome') %>
    <h1>Candidate Survey</h1>
    <div class="main">

    </div>
</body>

<%- include('includes/_footer') %>