

    <head>
        <%- include('layouts/head') %>
    </head>
    <h1 style="margin-bottom: 1rem;">Candidate Survey </h1>

    <body>

        <main class="email-form" id="question-form">
            <div class="container-fluid setup-bg d-flex flex-column">
                <div class="row justify-content-center">
                    <div class="container">
                        <div id="welcome">
                            <div class="row">
                                <div class="col">
                                    <!-- include('includes/_form') HERE -->
                           
                            
        <%- include('includes/_form') %>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

