<%- include('includes/_header') %>

<head>
    <%- include('layouts/head') %>
</head>


<body>
    <div id="email-form-greeting">
        
    </div>
      <h1>Candidate Complete</h1>
    <div class="main">
        
    </div>
</body>

<%- include('includes/_footer') %>