<head>
    <%- include('layouts/head') %>
</head>


<div class="manage-quiz-title">

    <div id="">
        <h1 class="title-page">Candidate</h1>
    </div>
    <hr>
    <div id="">
        <span>
            <h1 class="title-page">Survey</h1>
        </span>
    </div>
</div>

<body id="body3">
    <div class="container" id="question-form-survey">
        <main class="email-form" id="question-form">
            <div class="container-fluid setup-bg d-flex flex-column">
                <div class="row justify-content-center">
                    <div class="container">
                        <div id="welcome">
                            <div class="row">
                                <div class="col">
                                    <!-- include('includes/_form') HERE -->


                                    <%- include('includes/_form') %>
                                        <p>Feel free to close the browser after submitting!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>


    </div>
</body>