<%- include('includes/_header') %>

<head>
    <%- include('layouts/head') %>
</head>


<body>
      <%- include('layouts/welcome') %>
      <div class="main">
      <h1>Quiz Complete</h1>

      Thank you for taking our evaluation. 

      <br><br>    
      <p align="justify">
      We are currently assessing all interview candidates. We will be able to advise you of the next steps once these have all been completed. 

      <br><br>
      Your feedback is important. Please evaluate the quality of our quiz by taking a brief survey.</p>
      <br>
      <a href="candidate_survey"><b>Survey</b></a>

    </div>
</body>

<%- include('includes/_footer') %>