<%- include('includes/_header') %>

<head>
    <%- include('layouts/head') %>
</head>


<body>
<div id="email-form-greeting">
    <%- include('layouts/welcome') %>
</div>
    <h1>Candidate Quiz</h1>
    <div class="main">
                    <a id="manage-quiz-button" href="/take_quiz" class="btn btn-success">Take Quiz</a>
    </div>
</body>

<%- include('includes/_footer') %>