<head>
    <%- include('layouts/head') %>
</head>


<body>
    <h1>Candidate Survey </h1>

</body>

<div class="main" id="question-form" >
    <div class="container">
        <div class="box-nav d-flex justify-between">

        </div>
        <div class="form-title text-left">
            <!-- <h2 class="text-dark">New User</h2> -->
            <span class="text-dark">We highly value your feedback. Use the below form to share your thoughts on our candidate evaluation</span>
            
        </div>
        <br>
        <!-- add user form -->
        <%- include('includes/_form') %>
       
    </div>
</div>
