<head>
    <%- include('layouts/head') %>
</head>

<%- include('includes/_header') %>

<body>
    <div class="main">
        <form action="/create_quiz" method="POST">
            <input type="text" name="name" placeholder="Quiz Name" />
            <button>Create</button>
        </form>
    </div>
</body>

<%- include('includes/_footer') %>