<%- include('includes/_header') %>
<head>
</head>

<h1>This is the Create Account Page</h1>
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/head') %>


    <title>Register</title>

</head>

<body>
    <div class="main" id="question-form">
        <h1>SIGN UP</h1>

        <form action="/register" method="POST">
            <input type="name" name="name" placeholder="My Name" />
            <input type="email" name="email" placeholder="example@gmail.com" />
            <input type="password" name="password" placeholder="* * * * * *" />
            <button>SIGN UP</button>
        </form>
    </div>
</body>


</html>
<%- include('includes/_footer') %>
