
<head>
  <%- include('layouts/head') %>
<%- include('includes/_header') %>

</head>

<body>

  <div class="main2">
  <%- include('layouts/welcome') %>

    <h1>This is the Splash Page</h1>

  </div>
</body>

<%- include('includes/_footer') %>
