<%- include('includes/_header') %>

<head>
<%- include('layouts/head') %>
</head>


    <div class="main">
      <h1>SIGN IN TO YOUR ACCOUNT</h1>

      <form action="/login" method="POST">
        <input type="email" name="email" placeholder="name@gmail.com" />
        <input type="password" name="password" placeholder="* * * * * *" />
        <button>SIGN IN</button>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>

          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
          
        </div>
      </form>
    </div>




<%- include('includes/_footer') %>


