<%- include('includes/_header') %>

<head>
  <%- include('layouts/head') %>
  <title>Home Page</title>
</head>

<body>

  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">LOGOUT</button>
  </form>
</body>

<%- include('includes/_footer') %>
