<%- include('includes/_header') %>

<head>
  <%- include('layouts/head') %>
</head>

<body>
  <%- include('layouts/welcome') %>

  <a href="/quizzes" class="btn btn-success">Manage Quizzes</a>
  <div class="main2">
    <h1>This is the Splash Page</h1>

  </div>
</body>

<%- include('includes/_footer') %>
