<head>
  <%- include('layouts/head') %>


    <%- include('includes/_header') %>

</head>

<body>
  <div class="index-page">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto" id="index-first-row">
          <!-- 1 of 3 rows -->

          <div class="container-fluid setup-bg d-flex flex-column">
            <div class='row justify-content-center'>
              <div class="container my-auto">
                <div class="container ">
                  <div id="welcome">
                    <div class="row ">
                      <div class="col ">
                        <%- include('layouts/welcome') %>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

     



    
          </div>
          <div class="col-md-auto" id="index-second-row">
            <!-- 2 of 3 rows -->
      <div id="animation">
        <h1>Software</h1>
      </div>
      <hr>
      <div id="animation">
        <span>
          <h1>Programming Quiz</h1>
        </span>
      </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Manage Quizzes for Candidates</h5>
                    <p class="card-text">Navigate here to create quizzes for candidates.</p>
                    <a id="manage-quiz-button" href="/quizzes" class="btn btn-success">Manage Quizzes</a>

                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto" id="index-third-row">
            <!-- 3 of 3 rows -->

            <h5 class="text-wrap">Another row to add content for the Splash Page</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include('includes/_footer') %>