<%- include('includes/_header') %>

<head>
    <%- include('layouts/head') %>
    <title>Logout Page</title>
</head>

<body>
<h1>You have succefully logged out</h1>
    <a href="/login">Back to Login</a>

</body>

<%- include('includes/_footer') %>
