<%- include('includes/_header') %>

<head>
    <%- include('layouts/head') %>
</head>


<body>
      <%- include('layouts/welcome') %>
    <a href="/quizzes" class="btn btn-success">Manage Quizzes</a>
    <div class="main">
        <h2>Questions</h2>
    </div>
</body>

<%- include('includes/_footer') %>