<%- include('includes/_header') %>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/head') %>
    <title>Register</title>
</head>

<body>
    <div class="main">
     <h1>SIGN UP</h1>
           <% if (messages) { %>
           <p><%= messages.error %></p>
           <% } %>
        <form action="/register" method="POST">
            <input type="name" name="name" placeholder="Name" />
            <input type="email" name="email" placeholder="example@gmail.com" />
            <input type="password" name="password" placeholder="* * * * * *" />
            <button>SIGN UP</button>
        </form>
    <a href="/login">Back to Login</a>

    </div>
</body>


</html>
<%- include('includes/_footer') %>