@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {

    table-layout: auto;

}

th {
    font-family: "Roboto";

    font-size: medium;

    font-family: "Roboto";
}

td {
    font-family: "Roboto";
    font-size: medium;
    font-size:medium;
    word-wrap: break-word
}

#th1 {
    font-family: "Roboto";
    font-size: x-large;
    font-family: "Roboto";
    color: white;
}

#td1 {
    font-family: "Roboto";
    font-size: large;
    color: white;
}







.app-container {
    margin-top: 6em;
}

@media screen and (max-width: 51em) {
    body {
        background-image: none;
    }
}


body {
    background-color: darkgrey;
    display: grid;
    place-items: center;
    overflow: scroll;
    text-align: center;
    background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
    color: #555;
    font-family: "Roboto";
    height: 100vh;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);

    background-image: url('../img/mountain4.jpg');
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



#body1 {
    background-image: url('../img/mountain.jpg');
    background-color: #cccccc;
    height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

#body2 {
    background-image: url('../img/mountain2.jpg');
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#body3 {
    background-color: darkgrey;
    display: grid;
    place-items: center;
    overflow: scroll;
    text-align: center;
    background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
    color: #555;
    font-family: "Roboto";
    height: 100vh;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
}

#body4 {
    background-image: url('../img/mountain3.jpg');
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#body5 {
    background-image: url('../img/mountain5.jpg');
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#body6 {
    background-image: url('../img/mountain6.jpg');
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#body7 {
    background-image: url('../img/mountain1.jpg');
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#body8 {
    background-image: url('../img/mountain7.jpg');
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#body9 {
    background-image: url('../img/mountain8.jpg');
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#body10 {
    background-image: url('../img/mountain9.jpg');
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#body11 {
    background-image: url('../img/mountain10.jpg');
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title-page {
    font-family: "Anton", sans-serif;
}

.title-page1 {
    font-family: "Anton", sans-serif;
    color: #f5f5f5;
}

#index-title-hr {
    color: #f5f5f5;
}

#middle-row-cards {
    margin-top: 2rem;
}

.main {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5rem;

    margin-left: auto;
    margin-right: auto;
}

#back-button-home {
    text-align: left;
    margin-left: 15rem;
}

#back-button {
    text-align: left;
    margin-left: 5rem;
}

.index-page {
    max-width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.create-quiz-page1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.create-quiz-page {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

#email-form-greeting {
    padding-top: 2em;
    padding-bottom: 1rem;
}

#quiz-form-greeting {
    padding-top: 2em;
    padding-bottom: 1rem;
}


/* #welcome-button{
padding-top: 8rem;
} */

#quiz-greeting {
    padding: 2rem;
}

.create-quiz-page-card {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

#new-quiz-card {
    margin-bottom: .5em;
}

.manage-quiz-button {
    background-color: white;
    padding: 1em;
    border-radius: 8px;
}

#manage-quiz-button {
    text-align: center;
    align-items: center;
    box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
}

.email-form {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.contact-form-text {
    width: 100%;
    padding: 15px;
    background-color: #ccc;
    color: gray;
    border: 0;
    border-radius: 8px;
}

.contact-form-message {
    width: 100%;
    padding: 15px;
    background-color: #ccc;
    color: gray;
    border: 0;
    border-radius: 8px;
}

.contact-form-btn {
    padding: 15px;
    background-color: #6a5acd;
    color: white;
    border: none;
    width: 50%;
    margin: 10px 5px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.main>h1 {
    font-size: 30px;
    color: rgb(26, 25, 25);
    margin: 0 0 30px 0;
}

.main>form>input {
    width: 100%;
    padding: 15px;
    background-color: #ccc;
    color: gray;
    border: 0;
    margin: 10px 5px;
    border-radius: 8px;
}

.main>form>button {
    padding: 15px;
    background-color: #6a5acd;
    color: white;
    border: none;
    width: 95%;
    margin: 10px 5px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.main>form>input:focus,
.main>form>button:focus {
    outline: none;
}

nav {
    background-color: #000;
    box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
}

#div-greeting {
    padding: 0.5em;
    font-weight: bold;
    font-family: "Encode Sans SC", sans-serif;
}

#welcome {
    margin-left: auto;
    margin-right: auto;
}

#welcome-create-quiz {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-links {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    margin: 0 auto;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
}

.navbarstyle {
    background-color: #f2f4f4;
    font-family: "playfair display", sans-serif;
    display: block;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-text.navbar-brand {
    color: black;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
    font-family: "playfair display", sans-serif;
}

.navbar-text.navbar-brand:hover {
    color: gray;
    cursor: default;
}

.navbar-collapse {
    overflow: hidden;
}

header {
    position: absolute;
    z-index: 2;
    width: 100%;
}

#index-first-row {
    padding: 2em;
}

#index-second-row {
    padding: 2em;
}

#index-third-row {
    padding: 2em;
}

#icon-spacing {
    margin-right: 0.5em;
}


/* #label-spacing {
  margin-left: 1.5em;
} */

#email-success {
    color: green;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    /* color: #071463; */
    font-family: "Roboto";

    /* font-weight: bold; */
    display: flow-root;
    /* width: inherit;
    float: center; */
}

/* label:after {
    content: ": ";
} */

#quiz-cards {}

.card-header {
    background-color: lightgrey;
}

#quiz-card-background {
    text-align: left;
    padding: 1em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
}

#quiz-card-button {
    margin-top: 0.25em;
    text-align: center;
    box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
}

.card {
    box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-footer {
    background: transparent;
    border-top: 0px;
}

button.btn {
    margin-top: auto;
}

#question-form {
    box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
}

#question-form-edit {
    box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
    width: 95vmin;
}

#question-form-survey {

    margin-bottom: 5rem;
}

#sidebar-nav {
    width: 160px;
}

#animation {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#animation :first-of-type {
    animation: showup 20s infinite;
}

#animation :last-of-type {
    width: 0px;
    animation: reveal 15s infinite;
}

#animation :last-of-type span {
    margin-left: -355px;
    animation: slidein 20s infinite;
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 355px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 355px;
    }
}

#quiz-button-cards {
    margin-top: 3rem;
    text-align: center;
}

#your-quizzes-text {
    margin: 1em;
}

#results-row {
    margin-top: 2em;
}

.footer-name {
    color: lightgrey;
}

.manage-quiz-title {
    margin-top: 4em;
    margin-bottom: 4em;

   
}

hr.class-1 {
    border-top: .5em double black;

}

#meta-data-quiz {
    background-color: whitesmoke;
    border-radius: 8px;
    padding: .5rem;
    margin-bottom: 1rem;
}

#survey {
    max-width: 75%;
}

#survey-hr {
    position: relative;

    border: none;
    height: 6px;
    background: black;

}

#survey-hr2 {
    position: relative;

    border-top: 5px double #6a5acd;
    height: 6px;
    background: black;

}

#quiz-page-header {
    margin: 1rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #6a5acd;
}

#manage-quiz-td {

    font-style: oblique;
}
#titles{
max-width: 25rem;
}



section {

    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#section-index {
    margin-top: 3rem;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

 



.flex-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #eee;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}


.flex-item {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}


.fill {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}